@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,300;0,900;1,400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: 700;
}

body {
  font-family: 'Comic Neue', cursive;
  background-color: bisque;
  padding-top: 70px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.6);
  width: max-content;
  margin: 0 auto;
  height: 75vh;
}

main {
  padding: 20px 40px;
}

.hero-container {
  display: flex;
  gap: 30px;
  margin-top: 25px;
  padding: 0 20px 0 20px;
}

.recent-container {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 25px;
}

#display-scores {
  margin-top: 15.5px;
}

.even {
  background-color: #f38c78;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 12px;
}

#name,
#score {
  font-family: inherit;
  padding: 3px;
  background-color: #f38c78;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

#name::placeholder,
#score::placeholder {
  color: inherit;
}

#submit {
  font-family: inherit;
  font-weight: bold;
  width: 35%;
  margin-left: auto;
  background-color: #f38c78;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

#submit:hover {
  background-color: #b14e3a;
  color: white;
}

#refresh {
  font-family: inherit;
  font-weight: bold;
  background-color: #f38c78;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

#refresh:hover {
  background-color: #b14e3a;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  border: 2px solid #f38c78;
}

li {
  padding: 3px;
  cursor: pointer;
  transition: all 0.15s;
}

li:hover {
  font-weight: 700;
  padding: 5px 3px;
}

.empty {
  color: red;
  padding: 3px;
}

.copyright {
  padding: 8px 40px;
  background-color: #f38c78;
  font-weight: 700;
}
